<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/splash.css" />
    <title>Splash</title>
</head>

<body>
    <main>
        <section id="screenSmall">
            <p>Your screen resolution is too small</p>
        </section>

        <section id="left">
            <div id="logo">
                <h1>LuDelft</h1><img src="./images/ludo_logo.png" />
            </div>

            <form action="/play" method="get">
                <button type="submit">Start Game</button>
            </form>

            <section id="statsSection">

                <p id="stats">Players In Games:
                    <%=currentPlayers%> <br>Games Completed:
                        <%=completed%><br>Average Game Duration:
                            <%=gameLength%>
                </p>
            </section>
        </section>
        <section id="right">
            <div id="rules">
                <div>
                    <h1>1</h1>
                    <p>Roll until you get a 6. Once that happens, you can move one of your pieces out from the starting area.</p>
                </div>
                <div>
                    <h1>2</h1>
                    <p>After this, you can move the pieces that are out by however much you roll. If you roll a 6 you can get another piece out, or move a piece 6 spaces.</p>
                </div>
                <div>
                    <h1>3</h1>
                    <p>If you land on a space that's taken up by another player, that player's piece will be sent back to the starting area.</p>
                </div>
            </div>
        </section>
    </main>
</body>

</html>