:root {
    --primary-color: #38C4DA;
    --secondary-color: white;
    --font: 'Verdana', sans-serif;
    --big-font-size: 600%;
    --small-font-size: 150%;
    --border-radius: 25px;
}

#screenSmall {
    position: absolute;
    left: -25%;
    top: -25%;
    color: white;
    font-size: var(--small-font-size);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150%;
    height: 150%;
    background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 1100px) and (min-height: 700px) {
    #screenSmall {
        display: none;
    }
}

body {
    background: var(--primary-color);
    height: 90vh;
    font-family: var(--font);
}

main {
    margin: 1%;
    height: 100%;
}

#statsSection {
    position: absolute;
    bottom: 8%;
    color: var(--secondary-color);
    font-size: var(--small-font-size)
}

section {
    display: inline-block;
}

#left {
    float: left;
    width: 50%;
}

#right {
    width: 50%;
    height: 100%;
    float: right;
}

#rules div {
    position: relative;
    left: 3%;
    background-color: var(--secondary-color);
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

#right div h1 {
    display: inline-block;
    padding-left: 5%;
    width: 5%;
}

#right div p {
    font-size: var(--small-font-size);
    display: inline-block;
    width: 80%;
    padding-right: 5%;
}

#rules {
    display: grid;
    height: 100%;
    grid-gap: 15%;
}

#logo {
    width: 80%;
}

#logo * {
    display: inline-block;
}

#logo h1 {
    font-size: var(--big-font-size);
}

img {
    width: 100px;
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
}

button {
    position: absolute;
    top: 60%;
    padding: 20px;
    font-family: var(--font);
    font-size: 50px;
    background-color: var(--secondary-color);
    border: 2px black solid;
    border-radius: var(--border-radius);
}

div {
    display: inline;
}